* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7; /* Фоновый цвет */
  padding: 15px;
  font-family: "Inter", sans-serif;
}

.page-wrapper {
  overflow: hidden;
  max-width: 415px;
  margin: auto;
  box-shadow: 0 0 30px 0 rgba(180, 180, 180, 0.25);
  background: #f7f7f7;
  border-radius: 10px;
}
.container {
  max-width: 365px;
  margin: auto;
}
.header {
  color: #ffff;
  padding: 18px 105px 229px;
  background: url("../img/header-bg.png") no-repeat center / cover;
  border-radius: 0 0 90px 90px;
}
.hello {
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
}
.hello-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.user {
  margin-top: -63px;
  padding-bottom: 45px;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 30px 11px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.user-avatar {
  margin-top: -43px;
  object-fit: cover;
}
.user-name {
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
}
.user-description {
  margin-top: 4px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #000;
}
.card {
  background: #fff;
  box-shadow: 0 0 30px 11px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-top: 12px;
  margin-bottom: 12px; /* чтоб карты отталкивались друг от друга */
  padding: 20px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  margin: auto;
  gap: 10px;
}
.button-icon {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  flex-shrink: 1;
  width: 100%;
  border-radius: 6px;
}

.buttonvk {
  background: #4680c2;
}
.buttontg {
  background: #4680c2;
}
.buttonyt {
  background: #ff0000;
}
