* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7; /* Фоновый цвет */
  padding: 15px;
  font-family: "Inter", sans-serif;
}

.page-wrapper {
  max-width: 415px;
  margin: auto;
  box-shadow: 0 0 30px 0 rgba(180, 180, 180, 0.25);
  background: #f7f7f7;
  border-radius: 10px;
}
.header {
  color: #ffff;
  padding: 18px 105px 229px;
  background: url("../img/header-bg.png") no-repeat center / cover;
  border-radius: 0 0 90px 90px;
}
.hello {
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
}
.hello-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
