* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7; /* Фоновый цвет */
  padding: 15px;
  font-family: "Inter", sans-serif;
}

.page-wrapper {
  overflow: hidden;
  max-width: 415px;
  margin: auto;
  box-shadow: 0 0 30px 0 rgba(180, 180, 180, 0.25);
  background: #f7f7f7;
  border-radius: 10px;
}
.container {
  max-width: 365px;
  margin: auto;
}
.header {
  color: #ffff;
  padding: 18px 105px 229px;
  background: url("../img/header-bg.png") no-repeat center / cover;
  border-radius: 0 0 90px 90px;
}
.hello {
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;
}
.hello-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.user {
  margin-top: -63px;
  padding-bottom: 45px;
  text-align: center;
  background: #fff;
  box-shadow: 0 0 30px 11px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background: url("../img/code.png") no-repeat center / cover;
}
.user-avatar {
  margin-top: -43px;
  object-fit: cover;
}
.user-name {
  color: #fff;
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
}
.user-description {
  margin-top: 4px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
}
.card {
  background: #ffffff;
  box-shadow: 0 0 30px 11px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-top: 12px;
  margin-bottom: 12px; /* чтоб карты отталкивались друг от друга */
  padding: 20px;
  background: url("../img/skal.png") no-repeat center / cover;
}
.buttons {
  display: flex;
  width: 100%;
  gap: 5px;
}
/* Стили для каждой кнопки-ссылки */
.card a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1; /* Ключевое свойство - растягивается равномерно */
  height: 40px;
  background-repeat: 5px;
  border-radius: 5px;
  gap: 10px;
  margin-bottom: 6px;
}
/* Стили для иконок внутри */
.button-icon {
  width: 24;
  height: 24px; /* Фиксированный размер иконки */
  object-fit: contain;
}
/* Цвета фона для каждой кнопки */
.buttonvk {
  background: #2787f5;
}
.buttontg {
  background: #37bbfe;
}
.buttonyt {
  background: #ce1312;
}
.buttongit {
  background: #000;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}
.buttonhh {
  background: #d6001c;
  text-decoration: none;
  color: #fff;
}
