* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7; /* Фоновый цвет */
  padding: 15px;
}
.page-wrapper {
  max-width: 415px;
  margin: auto;
  box-shadow: 0 0 30px 0 rgba(180, 180, 180, 0.25);
  background: #f7f7f7;
  border-radius: 10px;
}
.header {
  padding: 18px 118px 229px;
  background: linear-gradient(
      0deg,
      rgba(58, 58, 58, 0.6),
      rgba(58, 58, 58, 0.6)
    ),
    url();
  border-radius: 0 0 90px 90px;
}
